{#{% extends 'base.html.twig' %}#}
{% extends 'home/index.html.twig' %}

{% block title %}Compte Utilisateur{% endblock %}

{% block body %}
    <section id="home">
        <div class="formulaire">
            <h1>Compte</h1>
            <p>Bienvenue sur le compte utilisateur</p>
        </div>



    </section>
{% endblock %}
