{% extends 'base.html.twig' %}
{#{% extends 'home/index.html.twig' %}#}

{% block title %}Compte Utilisateur{% endblock %}

{% block body %}

    <section id="home">

        <div class="formulaire">
            <div class="col-12 text-center">
                <h1>Compte</h1>
                <p>Bienvenue sur le compte utilisateur</p>
            </div>

            <hr />
           <div class="container">
               <div class="row">
                   <div class="accountLeft">

                   </div>
               </div>
           </div>
    </section>
{% endblock %}
