{% extends 'base.html.twig.' %}

{% block title %}Compte Utilisateur{% endblock %}

{% block account %}
    <section id="home">

            <h1>Compte</h1>
            <p>Bienvenue sur le compte utilisateur</p>


    </section>
{% endblock %}
