{% extends 'base.html.twig' %}
{#{% extends 'home/index.html.twig' %}#}

{% block title %}Compte Utilisateur{% endblock %}

{% block body %}

    <section id="home">
        <div class="account">
            <div class="container">
                <div class="col-12">
                    <h1>Compte</h1>
                    <p>Bienvenue {{ app.user.firstname}} sur votre compte</p>
                </div>
                <hr />
                <div class="lien">
                    <div>
                        <a href="{{ path('app_account_address') }}">Gérer mes adresses</a>
                    </div>

                    - Mes commandes
                </div>
            </div>
        </div>

    </section>
{% endblock %}
