{% extends 'base.html.twig' %}


{% block body %}
    <section id="home"></section>
    <div id="a-propos">
        <h1 class="title">à propos</h1>
        <div class="film">
            <div class="left">
                <video width="380" height="290" controls>
                    <source src="./statueLiberté.mp4" type="video/mp4">
                </video>
            </div>
            <div class="right">
                <h3>Nous voyageons pour chercher d'autres états, d'autres vies, d'autres, âmes.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsam officiis atque, doloremque eos reprehenderit deleniti ipsum dicta aliquid .</p>
                <a href="#">Details</a>
            </div>
        </div>
    </div>


    <div id="popular-destination">
{#        <h1>Nos Destinations</h1>#}
{#        {% for product in products %}#}
{#            <div class="col-md-4">#}

{#            </div>#}
{#        {% endfor %}#}
        <h1 class="title">destinations populaires</h1>
        <div class="content">
            <!-- box -->
            <div class="box">
                <img src= "{{ asset('build/images/bali/bali.jpg') }}" alt="...">
                                "{{ asset('images/image.jpg') }}"
                <div class="content">
                    <div>
                        <h4>Bali</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p>Ea iusto ipsa repudiandae amet conseq.</p>
                        <br><br>
                        <a href="#">Détails</a>
                    </div>
                </div>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="box">
                <img src="{{ asset('build/images/borneo/borneo.jpg') }}" alt="Prise de vue sur la place rouge et le palais et le KREMLIN à MOSCOU">
                <div class="content">
                    <div>
                        <h4>Borneo</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p>Ea iusto ipsa repudiandae amet conseq.</p>
                        <br><br>
                        <a href="#">Lire Plus</a>
                    </div>
                </div>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="box">
                <img src="{{ asset('build/images/canada/Canada.jpg') }}" alt="Prise de vue sur la LAPONIE avec un ciel boréal.">
                <div class="content">
                    <div>
                        <h4>Canada</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p>Ea iusto ipsa repudiandae amet conseq.</p>
                        <br><br>
                        <a href="#">Lire Plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}