{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <section id="home">
        <div class="formulaire">
            <p>
                Un email vous a été envoyé afin de réinitialiser votre mot de passe, ce lien expirera dans   {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }} après la réception de celui-ci.
            </p>
            <p>pensez à vérifier dans vos dossiers spam ou <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
        </div>

    </section>

{% endblock %}
