{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <section id="home">
        <div class="formulaire">
            <h1>Reset your password</h1>

            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Reset password</button>
            {{ form_end(resetForm) }}
        </div>
    </section>


{% endblock %}
