{% extends 'base.html.twig' %}


{% block body %}
    <body>
    <section id="home">
        <div class="formulaire">
            <div class="card">
                <h1>Mot de passe oublié</h1>
                <a href="{{ path('app_login') }}">Connectez vous</a>
            </div>

        </div>
    </section>
    </body>



{% endblock %}